<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>

<body>
    <div>
        <h1>Course Details</h1>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Average Marks</th>
                    <th>Maximum Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{average}}</td>
                    <td>{{maximum}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <img src="static/bar.png" alt="error" height="500", width="600">
    </div>
    <div>
        <a href="/">Go Back</a>
    </div>
</body>

</html>