<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Details</title>
</head>

<body>
    <div>
        <h1>Enter Details</h1>
    </div>
    <div>
        <form action="/show" method="POST">
            <input type="radio" name="option" value="student_id" id = "op1"/>
            <label for = "op1">Student ID</label>
            <input type="radio" name="option" value="course_id" id = "op2"/>
            <label for = "op2">Course ID</label>
            <input type="text" name="id_value" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>