Music Streaming App/static/playlist.js
Music Streaming App/static/lyrics/hey_mahaveer_karo_kalyan.txt
Music Streaming App/static/lyrics/numbers.txt
Music Streaming App/static/lyrics/python_questions.txt
Music Streaming App/static/lyrics/postulates.txt
