.navbar_head {
    border: 3.5px solid white;
    background-color: rgba(0, 0, 0, 0.55);
    margin: auto;
    height: 50px;
    border-radius: 50px;
}

ul {
    list-style: none;
}

li {
    float: left;
}

.nav_link {
    color: rgb(225 241 16);
    text-decoration: none;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.nav_link:hover {
    text-decoration: underline;
    cursor: pointer;

}

.main_div {
    height: 100vh;
    width: 100.85%;
    margin-top: -7.8px;
    margin-left: -8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/static/user_page_test_2.jpg);
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
}


#signin_logo {
    height: 41px;
    width: 117px;
    border-radius: 14px;
    font-family: 'Poppins', serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 15.5px;
    /* border: 3px solid; */
    border: 2.5px solid crimson;
    float: right;
    margin-right: 42px;
    /* animation: rainbow 6.5s linear infinite; */
    margin-top: -11px;
}

#signin_logo:hover {
    border-color: rgb(94, 90, 90) !important;
}

.uploaded {
    /* background-color: #e3d7bf;  */
    /* margin-left: 189px; */
    /* margin-top: -911px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 79.2vh;
    width: 100%;
}

.songs {
    height: 48px;
    width: 100%;
    background-color: black;
    margin-top: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -2px;
    justify-content: space-between;
}

.songs:hover {
    background-color: rgba(0, 0, 0, 0.883);
    cursor: pointer;
}

.all_songs {
    display: flex;
    flex-direction: column;
    height: 53vh;
    width: 100%;
    margin-top: 236px;
}


.song_name {
    color: white;
    font-family: 'Poppins', serif;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
}

h1 {
    color: white;
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.8px;
    padding-left: 10px;
}

#heading_text {
    color: black;
    font-family: 'Poppins', serif;
    letter-spacing: 1px;
    font-size: 25px;
    padding-left: 10px;
    color: rgb(241, 148, 7);
    margin-bottom: -23px;
}

.except_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
    width: 20em;
    justify-content: space-evenly;
}


.song_play {
    background-color: rgba(128, 128, 128, 0.3);
    color: white;
    border: none;
    padding: 5px;
    font-size: 17px;
    /* box-shadow: 0 2px 4px darkslategray; */
    border-radius: 48%;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 46px;
    height: 38px;
    font-family: 'Ubuntu', serif;
}

.song_play:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.5);
}

.update {
    width: 113px;
    height: 35px;
    background-color: #00fc4e;
    border-radius: 5px;
}

.delete {
    width: 112px;
    height: 35px;
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
}

.crud {
    display: flex;
    height: 41px;
    margin-top: 7px;
}

.update:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}