.side_bar {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    align-items: center;
}

h2 {
    color: white;
    font-size: 36px;
}

#home {
    padding-top: 125px;
}

#album {
    padding-top: 12px;
}

#playlist {
    padding-top: 12px;
}

.main_div {
    height: 100vh;
    width: 100%;
    margin-top: -7.8px;
    margin-left: -8px;
}

hr {
    color: black;
}

.new_playlist {
    background-color: rgba(128, 128, 128, 0.3);
    height: 37px;
    width: 92%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

a {
    text-decoration: none;
}

#n_play {
    color: white;
    font-family: 'Poppins', serif;
    width: 98%;
}

#n_play:hover {
    .new_playlist {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

h4 {
    padding-right: 6px;
}

.side_text:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

.navbar_head {
    border: 3.5px solid white;
    background-color: black;
    width: 100.7%;
    /* margin: auto; */
    height: 66px;
    /* border-radius: 9px; */
    /* margin-top: 4px; */
    margin-top: -10.7px;
    margin-left: -3px;
    margin-bottom: -3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#search {
    height: 35px;
    width: 81%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2.5px solid #d0440b;
    border-radius: 10px;
    /* margin-bottom: -3.1em; */
    color: white;
    padding-left: 20px;
}

#search::placeholder {
    color: rgb(249, 244, 244);
    font-size: 15px;
    letter-spacing: 0.07em;
}

#search:focus {
    border: 2.5px solid white;
    outline: none;
}

#signin_logo {
    height: 48px;
    width: 104px;
    border-radius: 14px;
    font-family: 'Poppins', serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid;
    animation: rainbow 6.5s linear infinite;
}

@keyframes rainbow {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: lime;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

#signin_logo:hover {
    border-color: rgb(94, 90, 90) !important;
}

.colorful-button {
    margin-right: -715px;
}

.content {
    background-color: green;
    height: 100vh;
    width: 90.85%;
    margin-left: 189px;
    margin-top: -911px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.all_songs{
    display: flex;
    flex-direction: row;
}

.songs {
    height: 235px;
    width: 225px;
    background-color: white;
    margin-top: 55px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
}

.song_name {
    color: black;
}

.playlists {
    background-color: black;
    height: 302px;
    width: 174px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.playlist_name{
    color: white;
    font-size: 19px;
    font-family: 'Ubuntu', serif;
}

.playlist_name:hover{
    color: darkorange;
    text-decoration: underline;
}

h1{
    font-family: 'Ubuntu', serif;
    color: white;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-left: 41px;
    font-size: 36px;
    margin-bottom: -9px;
}

.head_edit{
    display: flex;
    flex-direction: row;
    height: 83px;
}

.edit_play{
    background: transparent;
    scale: 8%;
    margin-left: -212px;
    margin-top: -34px;
}

.edit_play:hover{
    cursor: pointer;
}





