<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>

<body>
    <div>
        <center>
            <h1>Course Details</h1>
        </center>
    </div>
    <div>
        <table id="course-detail">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{crs.course_code}}</td>
                    <td>{{crs.course_name}}</td>
                    <td>{{crs.course_description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <center>
            <h1>Enrollment list</h1>
        </center>
    </div>
    {% if courses_enrolled|length == 0 %}
        <p>No students are currently enrolled in this course.</p>
    {% else %}
        <div>
            <table id="course-table">
                <thead>
                    <tr>
                        <th>SNo</th>
                        <th>Roll Number</th>
                        <th>Student First Name</th>
                        <th>Student Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enrolled in courses_enrolled %}  
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{enrolled.student.roll_number}}</td>
                            <td>{{enrolled.student.first_name}}</td>
                            <td>{{enrolled.student.last_name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
        </div>
        {% endif %}
        <a href="/courses">Go Back</a>

</body>

</html>