<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/creator_page.css">
    <title>Creator Page</title>
</head>

<body>
    <div class="main_div">
        <header id="head1" class="navbar_head">
            <nav id="nav1" class="navbar">
                <ul>
                    <li><a href="/creator/{{username}}" class="nav_link">Home</a></li>
                    <li><a href="/{{username}}/upload" class="nav_link">Upload Song</a></li>
                    <li><a href="#" class="nav_link">Manage Albums</a></li>
                </ul>
            </nav>
        </header>
        <h1>Welcome {{username}}</h1>
        <div class="uploaded">
        </div>
    </div>
</body>

</html>