<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/creator_login.css">
    <title>Become a Creator</title>
</head>
<body>
    <div class="main_div">
        <div class="img_div">
            <h1>Creator Login</h1>
            <div class="signin">
                <h3>Sign In</h3>
                <form action="/creator/signin" method="POST">
                    <input type="text" name="username"  placeholder="Username" id="user">
                    <input type="text" name="password"  placeholder="Password" id="pass">
                    <input type="submit" id="signin" value="Sign In">
                </form>
                <br>
            </div>
        </div>
    </div>
    {% if trigger_js %}
        <script>
            alert('Wrong Password')
            let password = document.getElementById('pass')
            password.style.borderColor = 'red';
        </script>
    {% endif %}
</body>
</html>