<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles_creator.css">
    <title>SoundSphere</title>
</head>
<body>
    <div class="main_div">
        <div class="img_div">
            <h1>Welcome to SoundSphere</h1>
            <div class="signin">
                <div class="login_choose">
                    <a href="/" class="user_link">
                        <center><h3>User</h3></center>
                    </a>
                    <h2 id="seperator">|</h2>
                    <!-- <div class="slash"></div> -->
                    <a href="/creator" class="creator_link">
                        <center><h3>Creator</h3></center>
                    </a>
                </div>
                <form action="/creator/signin" method="POST">
                    <input type="text" name="username"  placeholder="Username" id="user">
                    <input type="password" name="password"  placeholder="Password" id="pass">
                    <input type="submit" id="signin" value="Sign In">
                </form>
                <!-- <button id="music">Play</button> -->
                <br>
            </div>
        </div>
    </div>
    {% if trigger_js %}
        <script>
            alert('Wrong Password')
            let password = document.getElementById('pass')
            password.style.borderColor = 'red';
        </script>
    {% endif %}
</body>
</html>